<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS</title>

    <style>
      #shapes{
       list-style-type: none;
       padding: 0;
       margin: 0;
      }

    
    </style>
  </head>
  <body>

    <section>
      <ul id="shapes">
        <li><a href='/rock'>Play Rock</a></li>
        <li><a href='/paper'>Play Paper</a></li>
        <li><a href='/scissors'>Play Scissors</a></li>
      </ul>
    </section>

    <section>
      <h1>Welcome to Rock-Paper_Scissors!</h1>

    </section>

    <section>
      <p>From <span><a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">Wikipedia:</a></span></p>

      <p>Rock-paper-scissors (also known as paper, scissors, stone or other variants) is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand.
      </p>

      <p>These shapes are:</p>
      <ul>

      <li>"rock" (a closed fist)</li>
      <li>"paper" (a flat hand)</li>
      <li>"scissors" (a fist with the index and middle fingers extended, forming a V)</li>

      </ul>



    </section>

  </body>
</html>
